<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.pricepal">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.PricePal">
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stores.StoreProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.BarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.compare.PriceCompareActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManagePrices"
            android:exported="false" />
        <activity
            android:name=".main.Login"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.Signup"
            android:exported="true" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>